extends layout
block content
    div(class="flex-col-container")
        h1(class="mb-2")=title
        form(method="post")
            label(for="itemName")  Name
            input(type='text', id="itemName" , name="itemName")
            label(for="itemDesc")  Description
            textarea(name="itemDesc", cols="30", rows="10" id="itemDesc")
            button(type="submit") Submit   