extends layout
block content
    div(class="flex-col-container mb-2")
        h1(class="mb-1 font-size-lg")=title
        a(class="btn-link",href="/categories/create") Create Category 
    div(class="card-container")
        each category in allCategories
            div(class="card mb-2")
                h1(class='capitalize mb-1')=category.name
                p=category.description
            